USE [master]
GO
/****** Object:  Database [FisaPay]    Script Date: 22/06/2021 10:03:47 a. m. ******/
CREATE DATABASE [FisaPay]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FisaPay', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\FisaPay.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FisaPay_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\FisaPay_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FisaPay].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FisaPay]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 22/06/2021 10:03:48 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Cedula] [int] NOT NULL,
	[Nombres] [varchar](200) NOT NULL,
	[Sexo] [varchar](10) NOT NULL,
	[FechaNacimiento] [datetime] NOT NULL,
	[Salario] [float] NOT NULL,
	[VacunaCovid] [bit] NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK__Empleado__3214EC076CDB3ED6] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 22/06/2021 10:03:48 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CedulaEmpleado] [int] NOT NULL,
	[Usuario] [varchar](100) NOT NULL,
	[PasswordHash] [varchar](max) NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
